nbody/.vs/
nbody/nbody/nbody.Browser/obj/
nbody/nbody/nbody.Simulator/obj/
nbody/nbody/nbody/obj/
nbody/nbody/nbody.Browser/bin/
nbody/nbody/nbody.Simulator/bin/
nbody/nbody/nbody/bin/
nbody/nbody/nbody.Browser/wwwroot/libs/
nbody/nbody/nbody.Browser/wwwroot/resources/nbody/textured_paper.png
